<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sesión</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
    <header>
        <div class="top-header">
            <div class="logo"> 
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="site-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class="login-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

    <form action="/login" method="get">

        <article class="campo">
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario"><br>
            <div class="error">Nombre de usuario ya existente.</div>
        </article>

        <article class="campo">
            <input type="password" name="password" id="password" placeholder="Contraseña"><br>
            <div class="error">Contraseña incorrecta.</div>
        </article>

        <article class="campo">
            <button>Enviar</button>
        </article>

    </form>

    <footer>
        <section class="footer-article">
            <i class="fa-sharp fa-solid fa-credit-card" id="card"></i>
            <ul type="none"> <li>Pagá con tarjeta o en efectivo</li></ul>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pagio. ¡Y siempre es seguro!</p><br>
        </section>

        <section class="footer-article">
            <i class="fa-solid fa-gift" id="gift"></i>
            <ul type="none"><li>Envío gratis desde $ 2.500</li></ul>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p><br>
        </section>

        <section class="footer-article">
            <i class="fa-solid fa-user-shield" id="security"></i>
            <ul type="none"><li>Seguridad, de principio a fin</li></ul>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p><br>
        </section>

        <section>
            <p style="font-size: 12px; font-weight: lighter;">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>

    </footer>

</body>
</html>